@charset "UTF-8";


div#sideinfo-content-container{
	height: 100%;
	width: 132.5em;
	/* border: solid 1px red; */
	position: relative;
	top: 70px;
	margin-left: 65px;
	transition: 0.1s;
}

@media (max-width: 1540px){	/* 가장 작은 노트북 화면용 */
	div#sideinfo-content-container{
		width: 105em;
	} 
}

@media (max-width: 1750px){  /* 일반 노트북 화면기준용 */
	div#sideinfo-content-container{
		width: 128em;
	} 
}

.content-open-style{
	width: 118.5em!important;
	margin-left: 265px!important;
	transition: 0.1s;
}

/* 상단 메인메뉴 */

div#mainMenu{
	width: 100%;
	background-color: #0071bd;
	height: 70px;
	margin:0;
	position: fixed;
	top: 0;
	z-index: 100;
}

img#gwLogo{
	height: 60px;
	display: inline-block;
	cursor: pointer;
}

div#left-menu{display: inline-block;}

div#left-menu span {
	color: #ffffff;
	display: inline-block;
}

.navbar-btn{
	font-size: 11px;
	padding: 3px 5px;
	width: 64px;
	height: 20px;
	background-color: #395673;
	border: solid 1px #395673;
	text-align:center;
	border-radius: 3px;
}

span.navbar-btn{
	margin-top: 3px;
}

.navbar-btn:hover{
	cursor: pointer;
	background-color: #427c97;
	border: solid 1px #395673;
}

div#right-menu {float: right; margin-right: 10px;}

table#right-menu-style{ margin-top:10px; }

div#right-menu > table tr td{
	color: #ffffff;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
	font-size: 11px;
}
div#right-menu > table tr td:hover{
	cursor: pointer;
}

img.top-menu-icon{
	display: block;
	width:25px;
	height:25px;
	margin: 0 auto;
}


/* 사이드바 메인 메뉴 */

div#sidemenu{
	clear: both;
	position: fixed;
	top: 70px;
	left: 0;
	width: 65px;
	height: 100%;
	background-color: #333333;
	padding-top: 20px 3px;
}

div#sidemenu p{
	color: #ffffff;
	opacity: 0.7;
	text-align: center;
	margin-top: 20px;
	border-left: solid 3px #333333;
}

div#sidemenu span { 
	color: #ffffff;
	font-size: 11px;
	opacity: 0.7;
	text-align: center;
}
	
div#sidemenu > p:hover{
	cursor: pointer;
	opacity: 1; 
}

/* 사이드바 세부 메뉴 */

div.submenu  {
  float: left;
  height: 100%;
  width: 200px;
  position: relative;
  z-index: 1;
  top: 70px;
  left: 80px;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

span#closebtn-style{
	display: block;
	margin-right: 10px;
	margin-top: 10px;
	float: right;
	color: #a3a5a6;
}
span#closebtn-style:hover {color: white;}





