@charset "UTF-8";

body{
	margin: 0;
}

div#gwContent{
	margin: 0 auto;
	width: 100%;
	height: 100%;
	background-color: #ccc;
	border: solid 1px red;
	position: relative;
	top: 70px;
	left: 80px;
	z-index: -1;
}


/* 상단 메인메뉴 */
div#mainMenu{
	width: 100%;
	background-color: #0071bd;
	height: 70px;
	margin:0;
	position: fixed;
	top: 0;
}

img#gwLogo{
	height: 60px;
	display: inline-block;
	cursor: pointer;
}

div#left-menu{display: inline-block;}
div#right-menu {float: right; margin-right: 10px;}
div#left-menu > span, div#right-menu > span{
	color: #ffffff;
	display: inline-block;
	vertical-align: middle;
}
div#right-menu > span{
	height: 70px;
	vertical-algin: middle;
	line-height: 70px;
}

/* 사이드바 메뉴 */

div#sidemenu{
	clear: both;
	position: fixed;
	top: 70px;
	left: 0;
	width: 80px;
	height: 100%;
	background-color: #333333;
}

div#sidemenu > p{ color: #ffffff; }
div#sidemenu > p:hover{	cursor: pointer; }

