@charset "UTF-8";

.float-right{float:right;}

.btn-style {
	padding: 5px 7px;
	border: none;
	font-size: 13px;
	border-radius: 2px;
	margin: 0 5px;
	display: inlnie-block;
	color: white;
}

.btn-style{ background-color: #0071bd; }	

#btn-container{margin-top: 20px; margin-right: 20px;}

.anchor-style{
	text-decoration: none;
	color: black;
}

.no-display{
	display: none;
}

.display-this{
	display: inline-block;
}

/* board.jsp 공지사항 게시판 목록 css */

#board-container{ padding: 20px; width: 100%; }

div#search-viewOption{
	float: right;
	margin-top:40px;
	margin-right: 10px;
	margin: 40px 10px 10px 0;
	/* border: solid 1px orange; */
}

div#board-table-div {
	clear: both;
	display: block;
	margin: 40px auto 15px auto;
	width: 99%;
	/* border: solid 1px red; */
}

table#board-table, #post-table{
	font-size: 10pt;
	border-bottom: solid 1px #ccc;
	width: 100%;
}

tr.thead > th, select#category{
	background-color: #395673;
	color: #ffffff;
	border:none;
}


/* postupload.jsp 게시판 글쓰기 css */
table#board-table > th, table#board-table > td, input, textarea, select {border: solid #ccc 1px;}
   
#table { border-collapse: collapse; width: 99%; }
#table th, #table td{padding: 5px;}
#table th{width: 50em; background-color: #395673; color: #ffffff;}
#table td{width: 500em;}
.long {width: 470px;}
.short {width: 120px;}



/* viewPost.jsp, viewSuggPost.jsp, viewGenPost.jsp 게시글 1개 조회 */

#viewpost-btn-container{margin-top: 20px; padding-bottom: 40px;}
.cmnt-btn-style { 
	background-color: #ccc;
	padding: 5px 7px;
	border: none;
	font-size: 13px;
	border-radius: 2px;
	margin: 0 0.2em;
	display: inlnie-block;
	color: white;
}
/* 댓글창 */

#comment-table > tbody > tr > td {
	border-collapse: collapse;
	border: solid 1px gray;
}
