@charset "UTF-8";

/* board.jsp 공지사항 게시판 목록 css */

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

table {
	font-size: 10pt;
}

.table-bordered>thead>tr>td {
	border-bottom-width: none!important;
}

tr.tbody{
	border-top: none;
}

body > table > thead > tr > th{
	background-color: #0071bd;
	color: white;
}


/* postupload.jsp 게시판 글쓰기 css */
table, th, td, input, textarea {border: solid gray 1px;}
   
#table {border-collapse: collapse;
        width: 1024px;
       }
#table th, #table td{padding: 5px;}
#table th{width: 120px; background-color: #DDDDDD;}
#table td{width: 880px;}
.long {width: 470px;}
.short {width: 120px;}