@charset "UTF-8";

.float-right{float:right;}

.btn-style {
	padding: 5px 7px;
	border: none;
	font-size: 13px;
	border-radius: 2px;
	margin: 0 5px;
	display: inlnie-block;
	color: white;
}

.btn-style{ background-color: #0071bd; }	

#btn-container{margin-top: 20px; margin-right: 20px;}

.anchor-style{
	text-decoration: none;
	color: black;
}

/* mail_inbox.jsp 받은메일함 페이지 css */

table {
	font-size: 10pt;
}

.table-bordered>thead>tr>td {
	border-bottom-width: none!important;
}

tr.tbody{
	border-top: none;
}

body > table > thead > tr > th{
	background-color: #0071bd;
	color: white;
}

/* new_mail.jsp 메일쓰기 페이지 css */

input, textarea {border: solid #ccc 1px;}

#table {border-collapse: collapse; width: 99%;}
#table th, #table td{padding: 5px;}
#table th{width: 45em;}
#table td{width: 500em;}